@use 'mixin';
@use 'variable-sets';

// @formatter:off
:root {
  // Generated sets
  // Size

  // Space -padding, margin, gap
  @include mixin.size-set-exponential(space, var(--space), 2);

  // Border width
  @include mixin.size-set-linear(border-width, var(--border-width), 1px);

  // Border radius
  @include mixin.size-set-exponential(rounding, var(--rounding), 2);

  // Font size
  @include mixin.size-set-exponential(font-size, var(--font-size), 1.3);

  // Font weight
  @include mixin.size-set-linear(font-weight, var(--font-weight), 150);


  // Color

  // Panel - Card, dialog, background
  @include mixin.color-set(color-panel, var(--color-panel), .07);

  // Text - Body, content, paragraph, label
  @include mixin.color-set(color-text, var(--color-text), .2);

  // Border color
  @include mixin.color-set(color-border, var(--color-border), .3);

  // Box Shadow
  @include mixin.color-set(color-box-shadow, var(--color-box-shadow), .4);

  // Icon Fill
  @include mixin.color-set(color-icon-fill, var(--color-icon-fill), .2);

  // Icon Stroke
  @include mixin.color-set(color-icon-stroke, var(--color-icon-stroke), .2);

  // Void - When no fill or transparent background is required
  @include mixin.color-set(color-void, var(--color-void), .05);


  --color-primary: rgb(16 88 177);
  --color-accent: rgb(16 163 176);
  --color-danger: oklch(.2 1 0);
  --color-success: rgb(64 255 89);

  --color-text-primary: var(--color-primary);
  --color-text-accent: var(--color-accent);
  --color-text-danger: var(--color-danger);
  --color-text-success: var(--color-success);

  --color-panel-primary: color-mix(in srgb,
    var(--color-primary), var(--color-panel-5));
  --color-panel-accent: color-mix(in srgb,
    var(--color-accent), var(--color-panel-5));
  --color-panel-danger: color-mix(in srgb,
    var(--color-danger), var(--color-panel-5));
  --color-panel-success: color-mix(in srgb,
    var(--color-success), var(--color-panel-5));
}
